<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasz.gymrats.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.GymRatsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymRats"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".activity.CreateChallengeActivity" android:theme="@style/Theme.GymRats.NoActionBar" />
        <activity
            android:name=".activity.JoinChallengeActivity"
            android:theme="@style/Theme.GymRats.NoActionBar" />
        <activity
            android:name=".activity.GymRatsRootActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="gymrats" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="share.gymrats.app" />
                <data android:scheme="https" android:host="gym-rats.app.link" />
                <data android:scheme="https" android:host="gym-rats-alternate.app.link" />
                <data android:scheme="https" android:host="gym-rats.test-app.link" />
                <data android:scheme="https" android:host="gym-rats-alternate.test-app.link" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LogWorkoutActivity"
            android:theme="@style/Theme.GymRats.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/Theme.GymRats.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.GymRats.NoActionBar" />

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="NOT_YET" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_adPCNMX2RrsiFCq7eZSdWclfyCoTqcSt" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" />
        <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
    </application>

</manifest>